body {
  margin: 0;
  font-family: 'Pretendard', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div,ul,li,p,ol,main,figure{
  padding:0;
  margin:0;
}
img{
  vertical-align: middle;
}
ul,li,ol,dl,dt,dd{
  list-style: none;
}

a{
  text-decoration: none;
}